body {
    width: 100%;
    margin: 0;
}

#title{
    margin: 200px auto 0 auto;
    width: 500px;
    text-align: center;
}

#title ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 20px auto;
}

#title ul li{
    margin: 0 auto 0 auto;
    text-align: center;
}

#title ul li a{
    text-decoration: none;
}

#title ul li a img{
    width: 26px;
    height: 23px;
}