body {
    width: 100%;
    margin: 0;
}

header {
    margin: 0 auto;
    width: 100%;
}

header nav{
    margin: 0 auto;
    width: 300px;
}

header nav ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0 auto;
}

header nav ul li{
    margin: 10px auto 20px auto;
    text-align: center;
}

header nav ul li a{
    text-decoration: none;
}

#title{
    margin: 30px auto 0 auto;
    width: 500px;
    text-align: center;
}

section{
    margin: 25px auto 0 auto;
    width: 900px;
}

.project{
    margin: 40px 0;
}

.project_header{
    display: flex;
}

.project_title{
    font-weight: bold;
    width: 50%;
}

.project_date{
    font-weight: bold;
    width: 50%;
    text-align: right;
}

.project_note{
    line-height: 0.5em;
}

.school{
    margin: 50px auto 0 auto;
}

.school_header{
    line-height: 0.5em;
    display: flex;
}

.school_title{
    font-weight: bold;
    width: 50%;
}

.school_grad_date{
    font-weight: bold;
    width: 50%;
    text-align: right;
}

.school_info{
    line-height: 0.5em;
    display: flex;
}

.school_degree{
    width: 50%;
}

.school_city{
    width: 50%;
    text-align: right;
}

.workplace{
    margin: 50px auto 0 auto;
}

.workplace_header{
    line-height: 0.5em;
    display: flex;
}

.workplace_info{
    line-height: 0.5em;
    display: flex;
}

.workplace_title{
    font-weight: bold;
    width: 50%;
}

.workplace_location{
    width: 50%;
    text-align: right;
}

.workplace_name{
    width: 50%;
    font-style: italic;
}

.workplace_date{
    width: 50%;
    text-align: right;
}